@import "tailwindcss";

@theme {
  --breakpoint-zero: 0rem;
  /**9in or 864 pixels**/
  --breakpoint-paper: 54rem;
  /**8in**/
  --breakpoint-sprint: 46rem;
  --breakpoint-links: 730px;
  --breakpoint-xs: 508px;
  --breakpoint-header: 520px;
  --color-std-gray: #6c757d;
}

body {
  font-family: "Lato" !important;
}

@media print {
  a {
    text-decoration: none !important;
    content: none !important;
    border: none !important;
  }
  i {
    text-decoration: none !important;
    content: none !important;
    border: none !important;
  }
  #root {
    background: white;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Lato", sans-serif;
  }
}

.w-responsive-md {
  @apply max-md:w-full max-md:max-w-screen max-md:mx-auto;
}

.two-by-two-grid {
  display: grid;
  gap: calc(var(--spacing) * 4);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

@page {
  size: Letter portrait;
  /**Sets the margins for printing**/
  margin-top: 1mm;
  margin-left: 2mm;
  margin-right: 2mm;
  margin-bottom: 1mm;
  padding-left: 3mm;
  padding-right: 3mm;
}

/**For BW printers**/
@media (forced-colors: active) {
  a {
    color: black;
  }
}

@media (width < 900px) {
  #root {
    padding: 20px;
    width: 100%;
  }
}

@media (width < 700px) {
  .md-span * p {
    white-space: normal;
  }
}

.flex-pull-right {
  margin-left: auto;
}

.address {
  font-size: 18px;
}

.gray-900 {
  color: #212529;
}

.skill-chip {
  border: 2px solid #212529;
  border-radius: 5px;
  box-shadow: 1px 2px #343a40;
}

a {
  color: var(--color-blue-700);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

@media print and (color: 0),
  print and (monochrome: 1),
  (forced-colors: active) {
  a {
    color: black !important;
  }
}
