@import "tailwindcss";

@theme {
  --breakpoint-zero: 0rem;
  /**9in or 864 pixels**/
  --breakpoint-paper: 54rem;
  /**8in**/
  --breakpoint-sprint: 48rem;
}

body {
  font-family: "Lato", sans-serif;
}

@media print {
  a {
    text-decoration: none !important;
    content: none !important;
    border: none !important;
  }
  i {
    text-decoration: none !important;
    content: none !important;
    border: none !important;
  }
  #root {
    width: 8.5in;
    height: 11in;
    background: white;
  }
  body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}

.w-responsive-md {
  @apply max-md:w-full max-md:max-w-screen max-md:mx-auto;
}

@page {
  size: Letter portrait;
}

/**For BW printers**/
@media (forced-colors: active) {
  a {
    color: black;
  }
}

@media (width < 900px) {
  #root {
    padding: 20px;
    width: 100%;
  }
}

@media (width < 700px) {
  .md-span * p {
    white-space: normal;
  }
}

.flex-pull-right {
  margin-left: auto;
}

.address {
  font-size: 18px;
}

.gray-900 {
  color: #212529;
}

.skill-chip {
  border: 2px solid #212529;
  border-radius: 5px;
  box-shadow: 1px 2px #343a40;
}

.md-span * a {
  color: var(--color-blue-500);
}
